<h3> Sales report for postpaid and prepaid </h3>

<div id="container">
	<div id="daily_sale" class="left"></div>
	<div id="weekly_sale" class="right"></div>
</div>

<div id="container">
	<div id="monthly_sale" class="left"></div>
	<div id="quarterly_sale" class="right"></div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div id="demo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function(){
  dailyChart('<%= @prepaid_daily_sale_cnt ? @prepaid_daily_sale_cnt : 0 %>', 
            '<%= @postpaid_daily_sale_cnt ? @postpaid_daily_sale_cnt : 0  %>', 
            "<%= Date.today %>", '<%= raw @prepaid_daily_sale.to_json %>', '<%= raw @postpaid_daily_sale.to_json %>');
  weeklyChart('<%= raw @dates %>', '<%= raw @prepaid_sale %>', '<%= raw @postpaid_sale %>',
              '<%= raw @weekly_prepaid_sale.to_json %>', '<%= raw @weekly_postpaid_sale.to_json %>');
  monthlyChart('<%= raw @month_dates %>', '<%= raw @prepaid_month_sale %>', '<%= raw @postpaid_month_sale %>', 
               '<%= raw @prepaid_monthly_sale.to_json %>', '<%= raw @postpaid_monthly_sale.to_json %>');
  quarterlyChart('<%= raw @quarter %>', '<%= raw @prepaid_qty_sale %>', '<%= raw @postpaid_qty_sale %>');

              
});
</script>
