<div class="navbar navbar-inverse set-radius-zero">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"></a>

    </div>

    <div class="right-div">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:void(0)" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">Logged in as : <%= current_user.username %>
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="<%= edit_user_registration_path %>" class="btn btn-success">Edit account</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="<%= destroy_user_session_path %>" data-method="delete" class="btn btn-danger">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <a href="<%= new_user_session_path %>" class="btn btn-warning pull-right">Login</a>
        <a href="<%= new_user_registration_path %>" class="btn btn-info pull-right">Sign up</a>
      <% end %>
    </div>
  </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul id="menu-top" class="nav navbar-nav navbar-right">
            <li>
              <a href="/" class="<%= 'menu-top-active' if params[:controller].eql?('home') %>">DASHBOARD</a>
            </li>

            <li>
              <a href="form.html">FORMS</a>
            </li>
            <% if (user_signed_in?) && (current_user.has_role? :admin) %>
              <li>
                <a href="#" class="dropdown-toggle <%= 'menu-top-active' if ['users', 'roles', 'sims', 'sim_targets'].include?(params[:controller]) %>" id="ddlmenuItem" data-toggle="dropdown">Master
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= roles_path %>">Roles</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= users_path %>">Users</a>
                  </li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= sims_path %>">SIMs</a>
                </li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="<%= sim_targets_path %>">SIM Targets</a>
                </li>

                </ul>
              </li>
            <% end %>
            <li>
              <a href="tab.html">TABS & PANELS</a>
            </li>
            <li>
              <a href="table.html">TABLES</a>
            </li>
            <li>
              <a href="blank.html">BLANK PAGE</a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- MENU SECTION END-->